/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset CSS */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.dashboard-wrap {
  display: flex;
}
header .logo-wrap {
  width: 183px;
  border-right: 1px solid #e6eff5;
  padding: 20px 31px 22px 0;
}
.container {
  max-width: 1396px;
  margin: 0 auto;
  padding: 0 16px;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrap .left-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrap .right-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 506px;
  width: 100%;
}
.activeHead {
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
  color: #343c6a;
  padding: 0 0 0 40px;
}
.mainContent {
  background: #f5f7fa;
  flex: 1;
  padding: 30px 40px 82px 40px;
}
